@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #45bd99;
    color: #ffffff;
    padding: 15px;
}

nav ul {

    text-align: center;
}


nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    margin-left: 100px;
}

main {
    display: grid;
    margin: 20px;
}