@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


:root {
    --cor-header: #141027;
    --font-header: 'Roboto Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pinto{
    background-color: #141027;
}
p{
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 5px;
}

header {
    background-color: #141027;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-header);
}

header>h1 {
    letter-spacing: 1px;
}

header>img {
    width: 8%;
}

nav {
    display: flex;
}

#menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

#menu,
li {
    margin-right: 10px;
}

#menu,
a {
    color: white;
    text-decoration: none;
    list-style: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
}

#esquerda>h1 {
    text-align: center;
    margin-left: 20px;

}


#esquerda {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1 1fr;
    border-radius: 8px;
    background-color: #e3f6fa;
    margin: 10px;
    padding: 10x;
}

#esquerda>img {
    margin-left: 20px;
    border-radius: 10px;
}

#esquerda>p {
    width: 60%;
    margin-left: 40px;
    text-align: center;
}

#esquerda>h2 {
    margin-left: 20px;
    padding: 10px;
    text-align: center;
}

#centro>h2 {
    margin-right: 180px;
    padding: 10px;
    text-align: center;
}
#centro{
    text-align: center;
    border-radius: 8px;
    background-color: #e3f6fa;
    margin: 10px;
    padding: 10x;
}

#direita>p {
    font-size: 20px;
    width: 70%;
    text-align: center;
  
}

#direita{
    text-align: center;
    border-radius: 8px;
    background-color: #e3f6fa;
    margin: 10px;
    padding: 10x;

}

#direita>h2 {
    text-align: center;
    margin-right: 180px;
    padding: 10px;
}