@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

h2 {
    color: aliceblue;
}

.caixa {
    background-color: rgb(20, 16, 39);
    border-radius: 7px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.caixa p {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

p {
    font-family: 'Poppins', sans-serif;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 5px;
}

header {
    background-color: rgb(20, 16, 39);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-header);
}

header>h1 {
    color: aliceblue;
    letter-spacing: 1px;
    text-shadow: 5px 5px rgb(31, 53, 114);
    animation: espaco 4s infinite;
}

@keyframes espaco {
    0% {letter-spacing: 1px;}
    50% {letter-spacing: 5px;}
    100% {letter-spacing: 1px;}
}

header>img {
    width: 8%;
}

nav {
    display: flex;
}

#menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

#menu,
li {
    margin-right: 10px;
}

#menu,
a {
    color: white;
    text-decoration: none;
    list-style: none;
}

section {
    max-width: 90%;
    border-color: solid black;
}

.footer {
    background-color: rgb(20, 16, 39);
    display: grid;
    margin-top: 50px;
    font-family: var(--font-principal);
    color: aliceblue;
    font-size: 22px;
    justify-content: center;
    padding: 15px;

}

.footer>p {
    color: #ffffff;
}
